node_modules/
frontend/node_modules/
dist/
frontend/dist/
tsconfig.tsbuildinfo
frontend/tsconfig.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store
backend/dist/
backend/.env
